html, body, aside {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	overflow: scroll;
	padding: 40px;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	-webkit-text-size-adjust: none;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

#displayInfoEstacao{
	margin-top: 2em;
}

#atualizarConteudo{
	padding: 4px 7px;
	border: 1px solid transparent;
	background: #007fff;
	font-weight: normal;
	float: right;
	margin-right: 18px;
	margin-bottom: 12px;
	display: none;
}

#atualizarConteudo:hover{
	background: #006fde;
}

#tabs-ui{
	overflow: hidden;
	margin-top: 2em;
}

#tabs-ui ul li:before{
	background: none;
}

#carregando{
	font-weight: bold;
}

.input-sm {
	box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
}

.bg-red {
	background-image: url(green-white-thread.jpg);
}
.bg-orange {
	background-image: url(green-white-thread.jpg);
}
.bg-yellow {
	background-image: url(green-white-thread.jpg);
}
.bg-green {
	background-image: url(green-white-thread.jpg);
}
.bg-cyan {
	background-image: url(../img/green-white-thread.jpg);
}
.bg-blue {
	background-image: url(green-white-thread.jpg);
}
.bg-purple {
	background-image: url(green-white-thread.jpg);
}
.bg-pink {
	background-image: url(green-white-thread.jpg);
}
.bg-black {
	background-image: url(green-white-thread.jpg);
}
.body {
	max-width: 1120px;
	margin: 0 auto;
}
@media screen and (max-width: 1000px) {
	body {
		padding: 20px;
	}
}
@media screen and (max-width: 767px) {
	body {
		padding: 10px;
	}
}
